.bio {
  display: flex;
  align-items: center;
  gap: 40px;
  padding-top: 56px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(140, 140, 140);
  font-family: "Martian Mono", monospace;
}

.bio__image {
  width: 169px;
  height: 169px;
  object-fit: cover;
  border-radius: 50%;
}

.bio__text {
  display: flex;
  flex-direction: column;
  font-family: "Martian Mono", monospace;
}

.bio__name {
  display: flex;
  align-items: center;
  font-size: 55px;
  line-height: 60px;
  font-weight: 400;
  color: rgb(20, 20, 20);
  font-family: "Martian Mono", monospace;
}

.char {
  display: inline-block;
}

.cursor {
  width: 3px;
  height: 60px;
  background-color: black;
  margin-left: 4px;
  animation: blink 0.8s infinite;
}

.bio__profession {
  font-size: 24px;
  line-height: 32px;
  color: rgb(140, 140, 140);
  margin-top: 8px;
  font-family: "Martian Mono", monospace;
  padding-left: 25px;
}

@keyframes blink {
  0%, 50%, 100% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}