.wrapper {
  max-width: 1320px;
  display: grid;
  grid-template-columns: 18.5% 54%;
  column-gap: 158px;
  margin-bottom: 50px;
}

.date,
.company,
.description {
  font-family: "Martian Mono", monospace;
  line-height: 24px;
  font-feature-settings: normal;
  font-variation-settings: normal;
  white-space: wrap;
}

.date {
  font-size: 18px;
  color: rgb(89, 89, 89);
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.company {
  font-size: 16px;
  color: rgb(0, 0, 0);
  border: 1px solid rgb(31, 31, 31);
  padding: 8px 12px;
  align-self: flex-start; /* предотвращает растягивание на всю ширину */
}

.descriptionContainer {
  margin-top: 15px; /* отступ от компании */
  display: flex;
  flex-direction: column;
  gap: 8px; /* расстояние между параграфами */
}

.description {
  font-size: 16px;
  color: rgb(0, 0, 0);
  margin: 0; /* убираем стандартные отступы p */
}