.about {
  font-family: "Cormorant SC", serif;
  padding: 20px 0;
  border-bottom: 1px solid rgb(140, 140, 140);
}

.about__heading {
  font-family: "Martian Mono", monospace;
  text-size-adjust: 100%;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  word-spacing: 6px;
  line-height: 20px;
  color: #999;
  margin-bottom: 24px;
}

.about__text {
  font-family: "Martian Mono", monospace;
  text-size-adjust: 100%;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  word-spacing: 6px;
  line-height: 26px;
  color: #444;
  max-width: 70%;

}
