.about {
  font-family: "Cormorant SC", serif;
  padding: 20px 0;
  border-bottom: 1px solid rgb(140, 140, 140);
}

.about__heading {
  font-family: "Cormorant SC", serif;
  text-size-adjust: 100%;
  font-feature-settings: normal;
  font-size: 18px;
  font-variation-settings: normal;
  line-height: 24px;
  tab-size: 4;
  color: rgb(140, 140, 140);
  margin-bottom: 15px;
}

.about__text {
  font-family: "Cormorant SC", serif;
  text-size-adjust: 100%;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.5px;
  word-spacing: 6px;
  line-height: 24px;
  color: rgb(31, 31, 31);
  max-width: 650px;
}
