.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(140, 140, 140);
}

.header__block {
  position: relative;
  border-left: 1px solid rgb(140, 140, 140);
  padding-left: 16px;
}

.header__block:first-child {
  border-left: none;
  padding-left: 0px;
}

.header__title {
  font-size: 16px;
  line-height: 100%;
  font-weight: 400;
  color: rgb(140, 140, 140);
}

.header__text {
  font-feature-settings: normal;
  font-size: 16px;
  font-variation-settings: normal;
  line-height: 24px;
  text-decoration-color: rgb(20, 20, 20);
  color: rgb(20, 20, 20);
}
