.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(140, 140, 140);
  font-family: "Martian Mono", monospace;
}

.header__block {
  position: relative;
  border-left: 1px solid rgb(140, 140, 140);
  padding-left: 16px;
}

.header__block:first-child {
  border-left: none;
  padding-left: 0px;
}

.header__title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: rgb(140, 140, 140);
  letter-spacing: 1px;
}

.header__text {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  display: block;
  text-decoration: none;
  color: #444444;
  transition: color 0.2s ease, font-weight 0.2s ease;
  cursor: pointer;
}

.header__text:hover {
  color: #0056b3;
  font-weight: 600;
  text-decoration: none;
}