.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(140, 140, 140);
  font-family: "Cormorant SC", serif;
}

.header__block {
  position: relative;
  border-left: 1px solid rgb(140, 140, 140);
  padding-left: 16px;
}

.header__block:first-child {
  border-left: none;
  padding-left: 0px;
}

.header__title {
  font-size: 16px;
  line-height: 100%;
  font-weight: 400;
  color: rgb(140, 140, 140);
}

.header__text {
  font-feature-settings: normal;
  font-size: 16px;
  font-variation-settings: normal;
  font-weight: 600;
  line-height: 24px;
  text-decoration: none;
  color: rgb(20, 20, 20);
  transition: color 0.2s ease, font-weight 0.2s ease;
  cursor: pointer;
}

.header__text:hover {
  color: #0056b3;
  font-weight: 600;
  text-decoration: none;
}