.experience__heading{
  font-family: "Martian Mono", monospace;
  text-size-adjust: 100%;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  word-spacing: 6px;
  line-height: 20px;
  color: #999;
  margin-bottom: 40px;
  margin-top: 40px;
}